.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #f7e1d7;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  font-family: 'Merriweather';
  background: #dedbd2;
  color: #4a5759; 
}
.jumbotron p {
    font-family: 'oswald';
  }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #b0c4b1; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #b0c4b1;  
  color: #4a5759;}
  .carousel .carousel-item {
    height: 300px; 
    color: #4a5759;}
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }
.carousel.carousel-item.carousel-caption{
  color: ee4266;
}

.modal .modal-header {
  background: #b0c4b1;
  color: #4a5759; }
  .modal .modal-header button {
    color: #4a5759; }

.modal .modal-body {
  background: #f7e1d7; }

#carousel-btn {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
